.env
/vendor/
/node_modules/
/.idea/
.vscode/
.DS_Store
*.log
*.cache
composer.lock
.env.local
/.env
/public/uploads/
/.sass-cache/
# OS
Thumbs.db
ehthumbs.db
**/Thumbs.db
# Windows image file cache
Desktop.ini
